.banner {
    background-image: url(../../../images/banner.jpg);
    min-height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.inside-banner {
    background: rgba(0, 0, 0, 0.46);
    width: 100%;
    height: 100vh;

}

.inside-banner-menu {
    display: flex;
    justify-content: space-between;
}

.inside-banner-top {
    display: flex;
    gap: 10px;
    position: relative;
    left: 100px;
    top: 10px;
    color: white;
}

.inside-banner-Login {
    color: white;
    margin-right: 108px;
    position: relative;
    top: 10px;
}

/* jfgjhfkgdfkgj */
.banner-text-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 250px;
}

.united-text p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1px;
    color: #FFFFFF;
    margin-left: 70px;
}
.united-text h2 {
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 1px;
    color: #FFFFFF;
}
.book-link {
    background-color: #FF3B00;
    color: white;
    border-radius: 7px;
    padding: 7px;
    text-decoration: none;
}

.choose-toure-link {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.asia-tour-text p {
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 5px;
    color: #C2B9B9;

}

.icon-1{
    color: white;
    font-size: 30px;
    margin-right: 20px;
    margin-left: 10px;
}
@media screen and (max-width: 640px) {
    .inside-banner-top {
        left: 20px;
    }
    .inside-banner-Login {
       margin-right: 10px;
    }
    .banner-text-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 310px;
    }
    
}



@media screen and (min-width:768px) and (max-width:1023px) {
    

}

