.brand {
    background: #D9D9D9;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 81px;
    margin-bottom: 81px;
}

.brand-name {
    margin: 0px 108px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.brand-name img {
    width: 229px;
    height: 75px;
}

.brand p {
    font-family: 'Joti One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    color: #FF3B00;
}

@media screen and (max-width: 640px) {
    .brand-name {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}